<div style="text-align: center; margin-top: 50px;">
  <h1>❌ Pagamento Cancelado</h1>
  <p>O pagamento não foi concluído. Seu carrinho ainda está disponível.</p>
  <%= link_to "Tentar Novamente", cart_path, class: "btn btn-warning" %>
</div>