<div style="text-align: center; margin-top: 50px;">
  <h1>✅ Pagamento Realizado com Sucesso!</h1>
  <p>Obrigado pelo seu pedido. Ele já está sendo processado.</p>
  <%= link_to "Voltar para a Loja", root_path, class: "btn btn-primary" %>
</div>