<%= form_with(model: [:admin, product], class: "contents") do |form| %>
  <%# ... (mantenha os campos Name, Description, Price, etc.) ... %>

  <%# Link 'Product Stock' exatamente como no curso %>
  <div class="my-5">
    <%= link_to "Product Stock", admin_product_stocks_path(product), class: "underline text-blue-600" %>
  </div>

  <div class="inline">
    <%= form.submit "Update Product", 
        class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>