<% content_for :title, "Novo produto" %>

<div class="w-full md:w-2/3">
  <h1 class="text-4xl font-bold mb-6">
    Novo produto
  </h1>

  <%= render "form", admin_product: @admin_product %>

  <div class="mt-4">
    <%= link_to "Voltar para produtos",
          admin_products_path,
          class: "inline-block rounded-md bg-gray-100 px-4 py-2.5 font-medium hover:bg-gray-200" %>
  </div>
</div>
